body{
background-image: url(https://cdn.discordapp.com/attachments/373053356731531264/408268512117915649/wallpaper_vide.png);
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-repeat: no-repeat;
width:100%;
}

.accueil{
margin-left: auto;
margin-top:100px;
text-align:center;
}

.accueil h1{
color:white;
margin-left:auto;
text-align:center;
font-size:100px;
font-family:"Shrikhand",Verdana, sans-serif;
}

.accueil h2 {
margin-left: auto;
margin-top: 200px;
text-align:center;
color:white;
font-size:30px;
}
.accueil .pas_de_compte{
color:white;
font-size:25px;
}
.accueil .ahref{
color:white;
}
.accueil .id{
color:white;
font-size:30px;
}
.accueil .pw{
color:white;
margin-right:100px;
font-size:30px;
}

.btn1{
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 350px;
width: 150px;
height: 50px;
font-size: 30px;
}

.btn2{
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
width: 150px;
height: 50px;
font-size: 30px;
}

.S_A{
text-align:center;
color: white;
margin-top: 280px;
font-size: 30px;
}

.jeu{
background-image:url(https://cdn.discordapp.com/attachments/373053356731531264/408268512117915649/wallpaper_vide.png);
}

.wrap{
text-align:center;;
color:white;
font-size:35px;
}

.ragequit{
text-align:left;
margin:auto;
font-size:30px;
}

.Qs{
text-align:center;
margin:25px;
font-size:30px;
}

.Qs button{
width: 200px;
height: 100px;
font-size:25px;
text-align:center;
margin-top:10px;
margin-left:10px;
}
.result{
text-align:center;
margin-top:200px;
color:white;
}
.btnAc{
text-align:center;
}

